aiocron==1.8
annotated-types==0.7.0
anyio==4.6.2.post1
arrow==1.3.0
beautifulsoup4==4.12.3
bencode.py==4.0.0
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
croniter==5.0.1
fastapi==0.115.5
h11==0.14.0
idna==3.10
Jinja2==3.1.4
Levenshtein==0.25.1
MarkupSafe==3.0.2
parsett==1.5.1
pydantic==2.10.2
pydantic_core==2.27.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
rank-torrent-name==1.6.0
RapidFuzz==3.10.1
regex==2023.12.25
requests==2.32.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.41.3
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.3
uvicorn==0.32.1
apscheduler
