# VERSION: 0.0.37
# AUTHORS: aymene69
# CONTRIBUTORS: Ogekuri

fastapi				# Framework web ad alte prestazioni per Python, basato su asyncio e type hints
starlette			# Microframework ASGI leggero e veloce, base di FastAPI per routing e gestione richieste
uvicorn				# Server ASGI veloce e leggero, comunemente utilizzato per eseguire applicazioni FastAPI/Starlette
APScheduler			# Libreria per schedulare job (compiti) in Python, con supporto a cron e diverse tipologie di store
python-dotenv			# Permette di caricare variabili d'ambiente da file .env, utile per configurazioni
requests			# Libreria HTTP user-friendly, la più diffusa per effettuare richieste web in Python
PySocks				# Fornisce supporto per proxy SOCKS (incluso Tor) per client di rete Python
Unidecode			# Converte caratteri unicode in ASCII approssimati, utile per "normalizzare" stringhe
beautifulsoup4			# Libreria per il parsing di documenti HTML e XML, utile per il web scraping
bs4				# Pacchetto metapackage che punta a beautifulsoup4 (fornisce l'alias "bs4")
bencode.py			# Implementazione in Python del formato Bencode, utilizzato dai file .torrent
rank-torrent-name		# Libreria per analizzare e "rankare" i nomi dei torrent, utile per matching e parsing
httpx[http2]			# Libreria per le chiamate HTTP/2 parallele (per la perfomance)
lzstring			# Libreria per la codifica/decodifica dei parametri nell'url
ruff
pyright

